# Postgres (data warehouse)
POSTGRES_USER=taxi_user
POSTGRES_PASSWORD=change_me
POSTGRES_DB=taxi_dw
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# MinIO (local data lake), used from Phase 4
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=change_me_too
MINIO_ENDPOINT=http://localhost:9000

# General
DATA_DIR=./data
LOG_LEVEL=INFO
